---
interface Props {
  name: string;
  url: string;
  isBig?: boolean;
}
const { name, url, isBig = false } = Astro.props;
const id = url.split('/').at(-2);
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<!-- class={
  `sm:max-w-sm flex flex-col items-center justify-center rounded ${!isBig && 'border'} `
   href={`/pokemons/${name}`}>
} -->
<a
  class:list={[
    `sm:max-w-sm flex flex-col items-center justify-center rounded`,
    {
      border: !isBig,
    },
  ]}
  href={`/pokemon/${id}`}>
  <img
    transition:name={`${name}-image`}
    src={imageSrc}
    alt={name}
    class:list={[{ 'w-22 h-22': !isBig }]}
  />
  <span
    class:list={['capitalize', { 'text-3xl': isBig, 'text-2': !isBig }]}
    >#{id} {name}</span
  >
</a>
